extends /tmp/layout.pug
block head
	title タイトル
	meta(name="description" content="")
	link(href="/assets/css/page/style.css" rel="stylesheet")

block content
	main
		h1 トップページ!!!!
		a(href="/about/") aboutページへ

block scripts
	script(src="/assets/js/index.js")