extends /tmp/layout.pug
block head
	title アバウト
	meta(name="description" content="")
	link(href="/assets/css/page/about.css" rel="stylesheet")

block content
	main
		h1 aboutページ!!

block scripts
	script(src="/assets/js/about.js")